/* GENERAL SETTINGS */
:root {
  --scheppers-blue: #1e3f6d;
  --scheppers-yellow: rgb(255, 236, 28);
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* Whole page */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

/* Navigation menu */
nav a {
  color: var(--scheppers-blue);
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav a.active {
  color: var(--scheppers-yellow);
}
nav a.active:hover {
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav a {
  display: block;
  padding: 0.3rem 0.5rem;
}

/* Main element */
main {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Images */
img {
  max-width: 100%;
}

/* Footer */
footer {
  background-color: var(--scheppers-blue);
  color: var(--scheppers-yellow);
  padding: 0.8rem;
  text-align: center;
}

/* ----------------------------------------------------- */
/* MOBILE FIRST */

/* Hamburger menu */
nav div#menu-mobile img#hamburger-icon {
  cursor: pointer;
}
nav div#menu-mobile ul {
  display: none;
}
nav div#menu-mobile #menu-checkbox:checked ~ ul {
  display: block;
}
nav div#menu-mobile #menu-checkbox {
  display: none;
}

/* Grid-containers */
div.txt-img {
  display: block grid;
  grid-template-areas: 
    "img"
    "txt";
}
div.txt-img div.img {
  grid-area: img;
  justify-self: center;
}
div.txt-img div.txt {
  grid-area: txt;
  text-align: justify;
  text-justify: inter-word;
}

/* Hide computer menu */
div#menu-computer {
  display: none;
}

/* ----------------------------------------------------- */
/* COMPUTER VIEW */
@media (min-width: 825px) {
  /* Hide mobile menu */
  div#menu-mobile {
    display: none;
  }

  /* Show computer menu */
  div#menu-computer {
    display: block;
  }

  /* Hide logo */
  div img#schoollogo {
    display: none;
  }

  /* Change properties list-items in navigation list */
  nav li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }

  /* Change grid layout txt-img */
  div.txt-img {
    grid-template-areas: "txt img";
    grid-template-columns: 6fr 4fr;
  }
  div.txt-img div.img {
    align-self: center;
  }

  /* Change header layout */
  header {
    background-image: url(../images/hero.png);
    background-size: contain;  
    background-repeat: no-repeat;
    aspect-ratio: 7.5 / 1;
    display: block grid;
    grid-template-rows: 1fr;
  }
  header h1 {
    justify-self: center;
    align-self: center;
    color: var(--scheppers-yellow);
  }
}

/* ----------------------------------------------------- */
/* BIG SCREENS */

@media (min-width: 1024px) {
  /* Main */
  main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Show logo */
  div img#schoollogo {
    display: block;
  }

  /* Navigation bar */
  nav img {
    height: 100%;
  }
  div#menu-computer {
    display: block grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 80px;
  }
  nav ul {
    align-self: center;
  }
}